spring:
  application:
    name: sbms-gateway

  main:
    allow-bean-definition-overriding: true

  cloud:
    gateway:
      discovery:
        locator:
          enabled: false   # we are not using service discovery

      default-filters:
        - RemoveResponseHeader=X-Powered-By

      routes:
        - id: appointment-service
          uri: http://appointment-service:8080
          predicates:
            - Path=/api/appointments/**
          filters:
            - StripPrefix=0

        # AUTH + BACKEND
        - id: sbms-backend
          uri: http://sbms-backend:8080
          predicates:
            - Path=/api/**
          filters:
            - StripPrefix=0

        # NOTIFICATION
        - id: sbms-notification
          uri: http://sbms-notification-service:8085
          predicates:
            - Path=/notification/**
          filters:
            - StripPrefix=1

server:
  port: 8080

cors:
  allowed-origins: "*"
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
  allowed-headers: "Authorization,Content-Type,Accept"
  allow-credentials: true

sbms:
  jwt:
    secret: ${SBMS_JWT_SECRET:}
    algorithm: HS256
    header: Authorization
    prefix: Bearer

management:
  endpoints:
    web:
      exposure:
        include: "*"